ServisorWebComModuloPoliticas/.idea/.name
ServisorWebComModuloPoliticas/.idea/.name
ServisorWebComModuloPoliticas/.idea/encodings.xml
ServisorWebComModuloPoliticas/.idea/misc.xml
ServisorWebComModuloPoliticas/.idea/modules.xml
ServisorWebComModuloPoliticas/.idea/scopes/scope_settings.xml
ServisorWebComModuloPoliticas/.idea/ServisorWebComModuloPoliticas.iml
ServisorWebComModuloPoliticas/.idea/vcs.xml
ServisorWebComModuloPoliticas/.idea/workspace.xml
